body {
    margin: 1em;
}

p, ul, #btn-group-1>button.btn.btn-light, #btn-group-2>button.btn.btn-light, label, button, a {
    font-size: 18px;
}

ul.nav.justify-content-center {
    margin-bottom: 1em;
    font-size: 20px;
}

/* Project Headings */

#h1-project, #h1-team-project {
    margin-bottom: .5em;
}

#footer>div>div.col-sm-5.links ul {
    list-style-type: none;
    display: flex;
    float: right;
}

#footer>div>div.col-sm-2>a {
    padding-left: 8em;
}

/* Paragraph Styles */

#para-bamazon, #para-train, #para-liri {
    margin-top: 4em;
    padding-right: 2em;
}

#para-weatherfy {
    margin-top: 3em;
    padding-right: 2em;
}

/* Column styles */

#col-bamazon, #col-train, #col-liri {
    padding-left: 3em;
    padding-top: 1em;
}

#col-weatherfy {
    padding-left: 4em;
    padding-top: 5em;
}

/* Row Styles */

#row-bamazon, #row-train, #row-liri {
    padding-bottom: 1em;
    padding-top: 1em;
}

#row-weatherfy {
    padding-bottom: 1em;
    padding-top: 0em;
}

#btn-group-1 {
    padding-bottom: 2em;
}